.login {
  margin: clamp(1.2rem, 3vw, 2.5rem);
  padding: clamp(1.6rem, 4vw, 2.5rem) clamp(1.8rem, 6vw, 5rem);
  background-color: var(--color-dark--1);
  min-height: calc(100vh - 5rem);
}

.form {
  background-color: var(--color-dark--2);
  border-radius: 7px;
  padding: 2rem 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  /* Different from other form */
  max-width: 48rem;
  margin: 8rem auto;
}

.row {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

@media (max-width: 600px) {
  .form {
    margin: 4rem auto;
    padding: 1.8rem;
  }
}
