.product {
  margin: clamp(1.2rem, 3vw, 2.5rem);
  padding: clamp(1.6rem, 4vw, 2.5rem) clamp(1.8rem, 6vw, 5rem);
  background-color: var(--color-dark--1);
  min-height: calc(100vh - 5rem);
}

.product section {
  width: min(100%, 90rem);
  margin: clamp(3rem, 8vw, 6rem) auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 7rem;
  align-items: center;
}

.product img {
  width: 100%;
}

.product h2 {
  font-size: clamp(2.8rem, 5vw, 4rem);
  line-height: 1.2;
  margin-bottom: 3rem;
}

.product p {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.product section a {
  margin-top: 2rem;
}

@media (max-width: 900px) {
  .product section {
    grid-template-columns: 1fr;
    gap: 3rem;
  }
}

@media (max-width: 600px) {
  .product p {
    font-size: 1.5rem;
  }
}
